@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.campo {
  width: 100%;
  border: 1px solid rgb(51 65 85);
  border-radius: 0.75rem;
  background-color: rgb(30 41 59);
  padding: 1rem;
  color: white;
  outline: none;
}

.campo:focus {
  border-color: rgb(34 197 94);
}

.campo::placeholder {
  color: rgb(148 163 184);
}